node_modules
.next
.git
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
README.md
LICENSE
.vscode
.idea
.antigravity
.antigravityignore
prisma/migrations
*.png
*.jpg
*.jpeg
*.webp
!public/*.webp
!public/*.png
!public/*.jpg
